@model IEnumerable<Lesson05.Entities.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Instructors" asp-action="Index">
    <p>
        <input type="text" name="SearchString" value="@ViewBag.Search" />
        <select asp-items="@ViewBag.ParentCategories" name="CategoryId">
            <option value="">All</option>
        </select>
        <input type="submit" value="Search" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["Name_sort"]">
                    @Html.DisplayNameFor(model => model.Name)
                </a>
            </th>
           
            <th>

                <a asp-action="Index" asp-route-sortOrder="@ViewData["Parent_sort"]">
                    @Html.DisplayNameFor(model => model.Parent)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parent.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
